/* TOOD CSS grid the posts to use gap instead of margin */

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 1.6rem;

  background-image: url("data:image/svg+xml,%3Csvg width='20' height='12' viewBox='0 0 20 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 12c0-.622-.095-1.221-.27-1.785A5.982 5.982 0 0 0 10 12c1.67 0 3.182-.683 4.27-1.785A5.998 5.998 0 0 0 14 12h2a4 4 0 0 1 4-4V6c-1.67 0-3.182.683-4.27 1.785C15.905 7.22 16 6.622 16 6c0-.622-.095-1.221-.27-1.785A5.982 5.982 0 0 0 20 6V4a4 4 0 0 1-4-4h-2c0 .622.095 1.221.27 1.785A5.982 5.982 0 0 0 10 0C8.33 0 6.818.683 5.73 1.785 5.905 1.22 6 .622 6 0H4a4 4 0 0 1-4 4v2c1.67 0 3.182.683 4.27 1.785A5.998 5.998 0 0 1 4 6c0-.622.095-1.221.27-1.785A5.982 5.982 0 0 1 0 6v2a4 4 0 0 1 4 4h2zm-4 0a2 2 0 0 0-2-2v2h2zm16 0a2 2 0 0 1 2-2v2h-2zM0 2a2 2 0 0 0 2-2H0v2zm20 0a2 2 0 0 1-2-2h2v2zm-10 8a4 4 0 1 0 0-8 4 4 0 0 0 0 8zm0-2a2 2 0 1 0 0-4 2 2 0 0 0 0 4z' fill='%23000000' fill-opacity='0.15' fill-rule='evenodd'/%3E%3C/svg%3E"), linear-gradient(110deg, #960000, #270036);
  background-attachment: fixed;
}

p {
  font-size: 1.4rem;
  line-height: 2.1rem;
}

a {
  color: #C92600;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr;
}

header {
  background: #FFCE00;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25);
}

main {
  padding: 6.4rem 3.2rem;
  max-width: 800px;
  margin: 0 auto;
}

/* Post */

.posts {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 3.2rem;
}

.post {
  background: white;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 1.6rem;
  padding: 1.6rem;
  box-shadow: 0 4px 10px 4px rgba(0, 0, 0, 0.3);
}

.post__title {
  font-size: 2rem;
  line-height: 2.5rem;
  display: inline-block;
  padding: 0.4rem 0.8rem;
  background: #5E003C;
  color: white;

}

.post__date {
  font-size: 1.3rem;
  line-height: 1.95rem;
  margin: 0.8rem 0;
  color: #666666;
}

.post__description {
  margin-bottom: 0.8rem;
}

.post__read {
  font-size: 1.4rem;
  line-height: 2.1rem;
  display: block;
}

.post__back {
  display: block;
}

.heading__large {
  font-size: 4.8rem;
  line-height: 7.2rem;
  margin-bottom: 3.2rem;
}

.body__large p {
  font-size: 1.8rem;
  line-height: 2.7rem;
  margin-bottom: 2.4rem;
}

.space__small {
  margin-bottom: 1.6rem;
}

.space__medium {
  margin-bottom: 2.4rem;
}

.space__large {
  margin-bottom: 3.2rem;
}

.post-wrapper {
  background: white;
  padding: 3.2rem;
  box-shadow: 0 4px 10px 4px rgba(0, 0, 0, 0.3);
}
