/* TOOD CSS grid the posts to use gap instead of margin */

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
}

p {
  font-size: 1.4rem;
  line-height: 2.1rem;
}

a {
  color: #2278FF;
}

a:hover {
  color: #005FF5;
}

a:active,
a:focus {
  background: none;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr;
}

header {
  background: #FFCE00;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  padding: 6.4rem 3.2rem;
  max-width: 1000px;
  margin: 0 auto;
}

/* Post */

.posts {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 6.4rem;
}

.post {
  background: white;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1.6rem;
  padding: 1.6rem;
}

.post__title {
  font-size: 3.2rem;
  line-height: 4.8rem;
  display: inline-block;
  margin-bottom: 1.6rem;
}

.post__date {
  font-size: 1.6rem;
  line-height: 2.4rem;
  margin-bottom: 1.6rem;
  color: #666;
}

.post__description {
  margin-bottom: 3.2rem;
  font-size: 2rem;
  line-height: 3rem;
}

.post__read {
  font-size: 2rem;
  line-height: 3rem;
  display: block;
}

.heading__large {
  font-size: 4.8rem;
  line-height: 7.2rem;
  margin-bottom: 3.2rem;
}

.body__large p {
  font-size: 2rem;
  line-height: 3.6rem;
  margin-bottom: 2.4rem;
}

.space__small {
  margin-bottom: 1.6rem;
}

.space__medium {
  margin-bottom: 2.4rem;
}

.space__large {
  margin-bottom: 3.2rem;
}

.post-wrapper {
  background: white;
  padding: 1.6rem;
}

@media(max-width: 600px) {
  img {
    display: none;
  }
}
